.input-text {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.boton-success {
    background-color: #14a44d !important;
    color: white !important;
    padding: 2px !important;
}

.boton-primary {
    background-color: #3b71ca !important;
    color: white !important;
    padding: 2px !important;
}

.boton-status {
    min-width: 130px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #4433ff;
}

.boton-status:hover {
    background-color: #3a86ff;
}
.boton-status:active {
    top: 2px;
}

.boton-status-icons {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    cursor: pointer !important;
}

.boton-status-icons .dx-icon {
    color: white !important;
    font-size: 16px !important;
}

.icon-custom-add {
    background-color: rgba(35, 124, 35, 0.664);
}

.icon-custom-add,
.dx-icon {
    color: #ffffff !important;
}

.icon-custom-list {
    background-color: rgb(75, 132, 218);
}

.icon-custom-list,
.dx-icon {
    color: #ffffff !important;
}

.icon-custom-revert {
    background-color: rgba(255, 0, 0, 0.733);
}

.icon-custom-revert,
.dx-icon {
    color: #000000 !important;
}

.icon-custom-select {
    background-color: #55c5f1;
}

.icon-custom-select,
.dx-icon {
    color: #000000 !important;
}

/*styles form*/

.buttons-container {
    display: inline-flex;
    float: right;
    grid-gap: 15px;
}

.buttons-container > div {
    width: 120px !important;
}

@media only screen and (max-width: 1200px) {
    #bs-carousel {
        padding-top: 80px !important;
    }
}

@media only screen and (max-width: 992px) {
    #bs-carousel {
        padding-top: 149px !important;
    }
}

@media only screen and (max-width: 767px) {
    #bs-carousel {
        padding-top: 70px !important;
    }
    .divfalso {
        display: block;
        height: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .divfalso {
        display: block;
        height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    #bs-carousel {
        padding-top: 90px !important;
    }
    .divfalso {
        height: 80px;
    }
}

.custom-tasas {
    margin-top: 0% !important;
}

